body {
  --bg1-color: rgb(250, 250, 250);
  --bg2-color: #f2f2f2;
  --bg3-color: white;
  --border-color: silver;
  --text-color: dimgray;
  --accent: lightsalmon;
  --accent-text: rgb(40, 40, 40);

  background: var(--bg1-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 16px;
  height: 100%;
  letter-spacing: .1rem;
  line-height: 1.5rem;
  margin: auto;
  max-width: 1600px;
  padding: 1rem;
/*  width: 100vw;*/
}

@media (prefers-color-scheme: dark) {
  body {
    --bg1-color: rgb(20, 20, 20);
    --bg2-color: rgb(40,40,40);
    --bg3-color: rgb(60, 60, 60);
    --border-color: dimgray;
    --text-color: rgb(240, 240, 240);
    --accent: darkorange;
    --accent-text: rgb(40, 40, 40);
  }

  html {
    scrollbar-color: darkorange dimgray;
  }
}

@media (max-width: 300px) {
  * { padding: 0; }
}

/**** Backgrounds ****/

  section,
  summary,
  details
  { background-color: var(--bg2-color) }

  .card,
  button,
  pre
  { background-color: var(--bg3-color) }

  button:hover,
  button.active-tab,
  summary:hover,
  details[open] > summary
  { background-color: var(--accent) }

/**** Borders ****/
  button,
  details,
  pre,
  .card
  { border: 1px solid var(--border-color); }

  article,
  details,
  pre,
  section,
  summary,
  .card
  { border-radius: .5rem; }

  wijit-tabs button
  { border-radius: .5rem .5rem 0 0 }

/**** Text ****/
  a {
    color: var(--accent);
  }

  button
  { color: var(--text-color) }

  button:hover,
  button.active-tab,
  summary:hover,
  details[open] > summary {
     color: var(--accent-text);
  }

  button.active-tab
  {
    font-size: larger;
    font-weight: bold;
  }

  summary
  {
    font-size: x-large;
    font-weight: bold;
  }

/**** Cursor ****/

  summary
  { cursor: pointer; }

/**** Scrollbars ****/
  details
  { scrollbar-color: var(--bg3-color) var(--bg2-color); }

  ::-webkit-scrollbar
  { background-color: var(--bg3-color) }

  ::-webkit-scrollbar-thumb
  {
    background-color: var(--accent);
    border-radius: 20px;
  }

/**** Structure ****/
  button {
    padding: .5rem;
  }

  details
  { overflow: auto; }

  details#instructions[open]
  { height: 80vh; }

  details[open] > summary
  { margin-bottom: 1rem; }

  details > div {
    padding: 1rem;
    text-indent: 3em;
    white-space:pre-wrap;
  }

  div
  { align-items: center; }

  fieldset > wijit-code
    { width: 100%; }

  h2
  { margin-left: 1rem; }

  header
  { flex: 0; }

  ol, ul
  {
    list-style: inside;
    margin: 0;
  }

  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto 1rem auto;
    padding: 1rem;
  }

  summary {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .card {
    flex: 1;
    padding: 1rem;
  }

  header {
    flex: 0 0 100%;
  }

  .column {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .end {
    align-items: end;
  }

  .row {
    flex-direction: row;
    justify-content: space-around;
  }

  .start {
    align-items: start;
  }

  .stretch {
    align-items: stretch;
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }

